{% extends 'base.html' %}
{% block title %}{{ quiz.title }}{% endblock %}
{% block content %}

<h2>{{ quiz.title }}</h2>
<form method="post" action="{% url 'result' quiz.id %}">
  {% csrf_token %}
  {% for q in questions %}
    <div class="mb-3">
      <p><strong>{{ forloop.counter }}. {{ q.text }}</strong></p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ q.id }}" value="1" required>
        <label class="form-check-label">{{ q.option1 }}</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ q.id }}" value="2">
        <label class="form-check-label">{{ q.option2 }}</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ q.id }}" value="3">
        <label class="form-check-label">{{ q.option3 }}</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ q.id }}" value="4">
        <label class="form-check-label">{{ q.option4 }}</label>
      </div>
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
